<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{title}}{% endblock %}</title>
  {% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='font.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='primer.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  {% endblock %}
  {% block js %}
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  {% endblock %}
</head>
<body>
  <header>
    <div class="container">
      <a href="{{ url_for('frontend.home') }}" class="header-title">IUT Sondage</a>
      {% if current_user.is_authenticated() %}
      <a href="{{ url_for('frontend.logout') }}" class="btn btn-reverse-header" role="button">Logout</a>
      {% else %}
      <div class="btn-group">
        <a href="{{ url_for('frontend.inscription') }}" class="btn btn-reverse-header" role="button">Sign in</a>
        <a href="{{ url_for('frontend.login') }}" class="btn btn-reverse-header" role="button">Login</a>
      </div>
      {% endif %}
      {% block navigation %}
      <nav>
        <a href="{{ url_for('frontend.home') }}">Sondage</a>
        <a href="{{ url_for('frontend.statistiques') }}">Statistiques</a>
      </nav>
      {% endblock %}
    </div>
  </header>
  {% block content %}{% endblock %}
  {% block footer %}
  <div class="container">
    <footer>
      <p>Copyright Sébastien Gédéon et Antoine Lassier 2015.<br>Créer dans le cadre d'un projet à l'IUT Informatique d'Orléans.</p>
    </footer>
  </div>
  {% endblock %}
</body>
  {% block script %}
  {% endblock %}
</html>