<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{title}}{% endblock %}</title>
{% block styles %}
<link rel="stylesheet" 
      href="{{ url_for('static', filename='flex.css')}}"/>
{% endblock %}
{% block js %}
    <script src="{{ 
      url_for('static', filename='js/jquery.min.js') 
    }}">
    </script>
{% endblock %}
  </head>
  <body>
 <header>
 <h1>Administration des sondages</h1>
 </header>
 
 <div id='main'>
    
    <nav id="nav1">
      <h2>Questions</h2>
        {% block questions %}
          {% for question in questions %}
            <ul>
              <li>{{ question.title }}</li>
              <li>{{ question.sondage.name }}</li>
            </ul>
          {% endfor %}
        {% endblock %}
    </nav>
    
    <article> 
      <h2>Editeur de questions</h2>
      <span id="tool1">
        <img id="add" src="{{ url_for('static',  filename='img/new.png') }}" 
        alt="Nouvelle question"/>
      </span>
      {% block editor %}{%endblock %}
    </article>

    <nav id="nav2">
      <h2>Sondages</h2>
      <span id="tool2">
        <img id="save" src="{{ url_for('static', filename='img/save.png') }}" 
        alt="Enregistrer le sondage"/>
      </span>
      {% block surveys %} {% endblock %}
    </nav>
 
 </div>
 <footer>
 <h4>©Département Informatique ⚛ IUT d'Orléans</h4>
 </footer>

  </body>
</html>