{% extends "base.html" %}

{% block content %}
  <div class="join">
    <div class="container">
      <h1>IUT Sondage</h1>
      <p>Répondez à des sondages et consultez vos statistiques.</p>
      <a href="{{ url_for('frontend.inscription') }}" role="button" class="btn btn-reverse">S'inscrire</a>
    </div>
  </div>
  <div class="container about">
    <div class="columns">
      <div class="one-third column">
        <h2>Des sondages</h2>
        <p>IUT Sondage est un site web créer spécialement pour que vous puissiez répondre a de multiples sondages en toute simplicité.</p>
      </div>
      <div class="one-third column">
        <h2>Des statistiques</h2>
        <p>Depuis l'onglet statistique vous pouvez consulter, de façon visuelle, vos statistiques pour chaque sondages.</p>
      </div>
      <div class="one-third column">
        <h2>API REST <span class="state state-closed">beta</span></h2>
        <p>Vous êtes développeur ? Notre site web proprose une API REST totalement fonctionnelle pour vous permettre de créer vos propres applications en utilisant nos services.</p>
      </div>
    </div>
  </div>
{% endblock %}