{% extends "base.html" %}

{% block content %}
  <div class="join">
    <div class="container">
      <h1>S'inscrire</h1>
      <p>Veuillez remplir les champs ci-dessous</p>
      {% if erreur %}
        <div class="flash flash-logwarn">
          Erreur lors de l'inscription.
        </div>
      {% endif %}
      <form method="POST" class="auth-form" action="{{ url_for('frontend.inscription') }}">
      {{ form.hidden_tag() }}
        <label for="pseudo">{{ form.pseudo.label.text }}</label>
      {{ form.pseudo(class_="form-control", placeholder="pseudo", id="pseudo") }}
        <label for="mdp">{{ form.mdp.label.text }}</label>
      {{ form.mdp(class_="form-control", placeholder="mot de passe", id="mdp") }}
        <br>
        <button type="submit" class="btn btn-reverse">Valider</button>
      </form>
    </div>
  </div>
  <div class="container about">
    <p>Une fois votre incription terminée, vous pourrez accéder au sondages et commencer à répondre au questions.</p>
  </div>
{% endblock %}