{% extends "base.html" %}

{% block content %}
  <div class="join">
    <div class="container">
      <h1>Se connecter</h1>
      <p>Veuillez remplir les champs ci-dessous</p>
      {% if erreur %}
        <div class="flash flash-logwarn">
          Erreur lors de la connexion.
        </div>
      {% endif %}
      {% if not current_user.is_authenticated() %}
        <form method="POST" class="auth-form" action="{{ url_for('frontend.login') }}">
          {{ form.hidden_tag() }}
          <label for="pseudo">{{ form.pseudo.label.text }}</label>
          {{ form.pseudo(class_="form-control", placeholder="pseudo", id="pseudo") }}
          <label for="mdp">{{ form.mdp.label.text }}</label>
          {{ form.mdp(class_="form-control", placeholder="mot de passe", id="mdp")  }}
          <br>
          <button type="submit" class="btn btn-reverse">Se connecter</button>
        </form>
      {% else %}
        <p>Vous êtes déjà connecté, {{ current_user.pseudo }}</p>
      {% endif %}
    </div>
  </div>
  <div class="container about">
    <p>Pas encore incrit ? vous pouvez vous inscrire <a href="{{ url_for('frontend.inscription') }}">ici</a>.</p>
  </div>
{% endblock %}