{% extends "flex.html" %}
{% block js %}
{{ super() }}

<script type="text/javascript">
    
$(function() {




  $("#button").click(function () {
    $.ajax({
      url: "{{ url_for('api.get_questions' ) }}",
      type: "GET",
      dataType: "json",
      success: function (data) {
          $("#questions").append($('<ul>'));
          for (var i = 0; i < data.questions.length; i++) {
            $("#questions ul")
            .append($('<li>')
              .append($("<a>")
                .attr({'href':""+data.questions[i].uri,
                  class:"question-link"})
                .text(data.questions[i].title)));
          }
      },
      error: function (req, status, err) {
        $('#questions').html("<b>Impossible de récupérer les questions ! </b>");
      }
    });
  });
  $("#questions").on('click', '.question-link', function(event) {
   event.preventDefault();
   $.ajax({
     url: $(this).attr('href'),
     type: "GET",
     dataType: "json",
     success: function (data) {
        $("#question-editor").append($('<form>'));
        for(attr in data.question){
          $("#currentQuestion form input[id="+attr+"]").val(data.question[attr]);
          if(attr == "firstChecked"){
            $("#currentQuestion form input[id="+attr+"]").prop("checked" , data.question[attr]);
          }
        }
        $("#currentQuestion form input[id=sendButton]").val("Editer");
     },
     error: function (req, status, err) {
       $('#questions').html("<b>Impossible de récupérer les questions ! </b>");
     }
   });
  });

  $("#tool1 #add").on("click", function() {
    $("#currentQuestion form input").each(function(index, el) {
      $(this).val("");
      if($(this).attr("id") == "sondage_id"){
        $(this).prop("value", 1);
      }
      if($(this).attr('type') == "checkbox"){
        $(this).prop("checked", false);
      }
    });
    $("#currentQuestion form input[id=sendButton]").val("Creer");
  });

  $("#sendButton").on('click', function(event) {
    event.preventDefault();
    var q = new SimpleQuestion($("#title").val(), $("#firstAlternative").val(), $("#secondAlternative").val(), Boolean($("#firstChecked").val()), parseInt($("#sondage_id").val()) );

    if($(this).val() == 'Editer'){
      $.ajax({
        url: $("#uri").val(),
        type: "PUT",
        contentType: 'application/json',
        dataType: "json",
        data: JSON.stringify(q),
        success: function (data) {
          console.log(data);
        },
        error: function (req, status, err) {
          $('#questions').html("<b>Impossible d'editer ! </b>");
        }
      });

    }else if($(this).val() =='Creer'){
      $.ajax({
              url: "{{ url_for('create_question' ) }}",
              type: "POST",
              contentType: 'application/json',
              dataType: "json",
              data: JSON.stringify(q),
              success: function (data) {
                console.log(data);
              },
              error: function (req, status, err) {
                $('#questions').html("<b>Impossible d'editer ! </b>");
              }
            });
    }
  });
  
});

function SimpleQuestion(title, firstAlternative, secondAlternative, firstChecked, sondage_id){
  this.type = "simplequestion";
  this.title = title;
  this.firstAlternative = firstAlternative;
  this.secondAlternative = secondAlternative;
  this.firstChecked = firstChecked;
  this.sondage_id = sondage_id;
}


</script>

{% endblock %}
{% block questions %}

  <input id="button" type="button" value="Recuperer les questions" />
  <div id="questions"></div>

{% endblock %}

{% block editor %}
<div id="currentQuestion">
  <form>
    <input type="text" id="title" ><br>
    <input type="text" id="firstAlternative" ><br>
    <input type="text" id="secondAlternative" ><br>
    <input type="checkbox" id="firstChecked" ><br>
    <input type="hidden" id="uri" value="" >
    <input type="hidden" id="sondage_id" value="1" >
    <input type="submit" id="sendButton" value="Ajouter">
  </form>
</div>
{% endblock %}
{% block surveys %}
  <div id="sondages">
    
  </div>
{% endblock %}