{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="columns">
      <div class="one-fourth column">
        <nav id="sondages" class="menu sondage-menu">
          <span class="menu-heading">Les sondages</span>
          
        </nav>
        {% if current_user.is_authenticated() and current_user.droit == 1 %}
        <nav id="admin" class="menu admin-menu">
          <a href="#" id="onglet-add" class="menu-item">Ajouter un sondage</a>
          <a href="#" id="onglet-remove" class="menu-item">Supprimer un sondage</a>
          <a href="#" class="menu-item">Gérer les utilisateurs <span class="counter">126</span></a>
        </nav>
        {% endif %}
      </div>
      <div class="three-fourths column">

        <!-- UN SONDAGE -->
        <h1 id="sondage-title" class="page-title">Sondage</h1>
        <p id="sondage-description" class="lead"></p>
        {% if current_user.is_authenticated() and current_user.droit == 1 %}
        <div id="div-admin">
          
        </div>
        {% endif %}
        <div id="div-sondage-form"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
  $("#sendReponse").attr("disabled", "disabled");

      
   $(function() {

      // Chargement des sondages dans sondage-menu
      $.ajax({
        url: "{{ url_for('api.get_sondages' ) }}",
        type: "GET",
        dataType: "json",
        success: function (data) {
          for (var i = 0; i < data.sondages.length; i++) {
            $("#sondages")
              .append($("<a>")
                .attr({'href':""+data.sondages[i].sondage_uri,
                  class:"menu-item sondage-link"})
                .text(data.sondages[i].name));
          }
        },
        error: function (req, status, err) {
          alert("probleme" + err);
        }
      });

        $("#div-sondage-form").on('click', '#sendReponse', function(event) {
            event.preventDefault();
            $(this).attr("disabled", "disabled");
            $.each($("h3.question-title"), function(i, l){
              //console.dir(l.id);
              //console.dir($("input[name=question-radio"+l.id+"]"));
              var rep = $("input[name=question-radio"+l.id+"]");
              var first = rep[0].checked;
              
              var rep = new Answer(l.id,'{{ current_user.pseudo }}',""+first);
              //console.dir(rep);
              //console.dir(JSON.stringify(rep));
              $.ajax({
                url: "{{ url_for('api.create_answer' ) }}",
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(rep),
                success: function (data) {
                  //console.log("ok ");
                },
                error: function (req, status, err) {
                  //console.log("probleme" + err +" "+ status);
                }
              });

            });
        });
        

    });
      // Action onClick des sondages dans sondage-menu
  $("#sondages").on('click', '.sondage-link', function(event) {
     event.preventDefault();
     if($("#div-sondage-form").html() == "") {
      $("#div-sondage-form").html('<form id="sondage-form" action="#" class="sondage-form">\
          <div id="questions-sondage-form">\
          </div>\
          <div class="form-actions">\
            <button type="submit" id="sendReponse" class="btn btn-primary">Envoyer</button>\
            {% if current_user.is_authenticated() and current_user.droit == 1 %}\
            <button class="btn" type="button">Éditer</button>\
            {% endif %}\
          </div>\
        </form>');
      }
     {% if current_user.is_authenticated() and current_user.droit == 1 %}
        $("#div-admin").empty();
     {% endif %}
     $(".menu-item.selected").attr('class',"menu-item sondage-link");
     $(this).attr('class',"menu-item selected sondage-link");
     $("#sendReponse").removeAttr("disabled");
     $.ajax({
       url: $(this).attr('href'),
       type: "GET",
       dataType: "json",
       contentType: "application/json; charset=utf-8",
       success: function (data) {
          //console.log(data.sondage);
          $("#sondage-title").text(data.sondage.name);
          $("#sondage-description").text(data.sondage.description);
          // Affichage des questions
          var sondage_form = $("#questions-sondage-form");
          sondage_form.empty();
          var name = "";
          for (var i = 0; i < data.sondage.questions.length; i++) {
            var id = data.sondage.questions[i].uri.split("/");
            id = id[id.length-1];
            var first = ""+data.sondage.questions[i].firstChecked;
            // On verifie si l'utilisateur a deja repondu
            $.ajax({
                url: "/api/v1.0/answers/"+id,
                type: "GET",
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.answers.length; i++) {
                      if (data.answers[i].username == "{{ current_user.pseudo }}") {
                        first = data.answers[i].answer;
                        $("#sendReponse").attr("disabled", "disabled");
                      }
                    }
              },
                 error: function (jqXHR, textStatus, errorThrown) {
                   
                 }
               });


            name = "question-radio"+id;
            sondage_form
              .append($("<h3>")
                .attr({'class': 'question-title',
                        'name': name,
                        'id': id})
                  .text(data.sondage.questions[i].title));
            sondage_form
              .append($("<label>")
                .append($("<input>")
                  .attr({'type': 'radio',
                        'id': 'firstAlternative',
                        'name': name}))
                      .append(data.sondage.questions[i].firstAlternative));
            sondage_form
              .append($("<label>")
                .append($("<input>")
                  .attr({'type': 'radio',
                          'id': 'secondAlternative',
                          'name': name}))
                    .append(data.sondage.questions[i].secondAlternative));
            if(first == "true"){
              $("input#firstAlternative[name="+name+"]").prop("checked", true);
            }else{
              $("input#secondAlternative[name="+name+"]").prop("checked", true);
            }
          }
       },
       error: function (req, status, err) {
         $('#questions').html("<b>Impossible de récupérer les questions ! </b>");
       }
     });
    });

  function Answer(question_id, username, answer){
    this.question_id = question_id;
    this.username = username;
    this.answer = answer;
  }

  {% if current_user.is_authenticated() and current_user.droit == 1 %}
    $("#admin").on('click', '#onglet-add', function(event) {
      event.preventDefault();
      $(".menu-item.selected").attr('class',"menu-item sondage-link");
      $(this).attr('class',"menu-item selected sondage-link");
      $("#sondage-title").text("Ajouter un sondage");
      $("#sondage-description").text("");
      $("#div-admin").empty();
      $("#questions-sondage-form").empty();
      $("#div-sondage-form").empty();
      $("#div-admin").html('<p class="lead">Pour ajouter une sondage, veuillez remplir les informations ci-dessous et\ cliquer sur Envoyer.</p>\
        <form action="#" class="admin-form">\
          <h2 class="admin-subtitle">Informations sur le sondage</h2>\
          <label for="title">Titre :</label>\
          <input type="text" class="input-block" id="title" placeholder="Titre du sondage">\
          <label for="description">Description :</label>\
          <textarea name="description" class="input-block" id="descriptipn" placeholder="La Description\ du sondage"></textarea>\
          <h2 class="admin-subtitle">Ajouter des questions</h2>\
          <div id="admin-questions">\
            <h3 class="question-title">Question 1</h3>\
            <label for="question1-title">Titre :</label>\
            <input type="text" class="input-block" id="question1-title" placeholder="Titre de la question\ 1">\
            <div class="columns">\
              <div class="one-half column">\
                <label for="question1-firstAlternative">Première Alternative :</label>\
                <input type="text" class="input-block" id="question1-firstAlternative"\ placeholder="Première alternative de la question 1">\
              </div>\
              <div class="one-half column">\
                <label for="question1-secondAlternative">Seconde Alternative :</label>\
                <input type="text" class="input-block" id="question1-secondAlternative"\ placeholder="Seconde alternative de la question 1">\
              </div>\
            </div>\
            <div class="form-checkbox">\
              <label>\
                <input id="question1-firstChecked" type="checkbox" checked="checked"> Première Alternative\
              </label>\
              <p class="note">Cela signifie que la <strong>première alternative</strong> correpond à la \<strong>bonne</strong> réponse !</p>\
            </div>\
          </div>\
          <button id="addQuestion-button" class="btn btn-outline" type="button">Ajouter une question</button>\
          <div class="form-actions">\
            <button type="submit" id="createSondage" class="btn btn-primary">Envoyer</button>\
            <button type="reset" class="btn">Annuler</button>\
          </div>\
        </form>');

      var nbQuestion = 1;
      $("#addQuestion-button").on('click', function(event) {
        event.preventDefault();
        nbQuestion++;
        $("#admin-questions").append('<h3 class="question-title">Question '+nbQuestion+'</h3>\
                    <label for="question'+nbQuestion+'-title">Titre :</label>\
                    <input type="text" class="input-block" id="question'+nbQuestion+'-title" placeholder="Titre de la question '+nbQuestion+'">\
                    <div class="columns">\
                      <div class="one-half column">\
                        <label for="question'+nbQuestion+'-firstAlternative">Première Alternative :</label>\
                        <input type="text" class="input-block" id="question'+nbQuestion+'-firstAlternative" placeholder="Première alternative de la question '+nbQuestion+'">\
                      </div>\
                      <div class="one-half column">\
                        <label for="question'+nbQuestion+'-secondAlternative">Seconde Alternative :</label>\
                        <input type="text" class="input-block" id="question'+nbQuestion+'-secondAlternative" placeholder="Seconde alternative de la question '+nbQuestion+'">\
                      </div>\
                    </div>\
                    <div class="form-checkbox">\
                      <label>\
                        <input id="question"+nbQuestion+"-firstChecked" type="checkbox" checked="checked"> Première Alternative\
                      </label>\
                      <p class="note">Cela signifie que la <strong>première alternative</strong> correpond à la <strong>bonne</strong> réponse !</p>\
                    </div>' );

      });

      $("#createSondage").on('click', function(event) {
        event.preventDefault();
        var sondage = new Sondage($("#title").val(), $("#descriptipn").val());
        var idS = -1;
        $.ajax({
            url: "{{ url_for('api.create_sondage' ) }}",
            type: "POST",
            dataType: "json",
            async: false,
            contentType: 'application/json',
            data: JSON.stringify(sondage),
            success: function (data) {
              idS = data.sondage.id;
            },
            error: function (req, status, err) {
              //console.log("probleme" + err +" "+ status);
            }
          });
        for (var i = 1; i <= nbQuestion; i++) {
          var checked = $("#question"+i+"-firstChecked").prop("checked");
          if(checked!=true){
            checked =  false;
          }
          var question = new SimpleQuestion($("#question"+i+"-title").val(),
                                             $("#question"+i+"-firstAlternative").val(),
                                             $("#question"+i+"-secondAlternative").val(),
                                             checked,
                                             idS);
          //console.dir(question);
          $.ajax({
            url: "{{ url_for('api.create_question' ) }}",
            type: "POST",
            contentType: 'application/json',
            dataType: "json",
            data: JSON.stringify(question),
            success: function (data) {
              //console.log(data);
              location.reload();
            },
            error: function (req, status, err) {
              //console.log("probleme creation question");
            }
          });
        };

  
      });
    });
    function Sondage(name,description){
      this.name = name;
      this.description = description;
    }

    function SimpleQuestion(title, firstAlternative, secondAlternative, firstChecked, sondage_id){
      this.type = "simplequestion";
      this.title = title;
      this.firstAlternative = firstAlternative;
      this.secondAlternative = secondAlternative;
      this.firstChecked = firstChecked;
      this.sondage_id = sondage_id;
    }

    //Partie suppression
    $("#admin").on('click', '#onglet-remove', function(event) {
          event.preventDefault();
          $(".menu-item.selected").attr('class',"menu-item sondage-link");
          $(this).attr('class',"menu-item selected sondage-link");
          $("#sondage-title").text("Supprimer un sondage");
          $("#sondage-description").text("");
          $("#div-admin").empty();
          $("#questions-sondage-form").empty();
          $("#div-sondage-form").empty();
          $("#div-admin").html('<p class="lead">Pour supprimer un sondage, repérer le sondage souhaité et cliquez sur le bouton supprimer.</p>\
        <div class="flash flash-with-icon">\
          <span class="octicon octicon-alert"></span> Supprimer un sondage entraine la suppression de toutes les questions et de toutes les réponses qui lui sont associées.\
        </div>\
        <h2 class="admin-subtitle">Liste des sondages</h2>\
        <div id="sondage-list-remove">\
        <div>');
        $.ajax({
          url: "{{ url_for('api.get_sondages' ) }}",
          type: "GET",
          dataType: "json",
          success: function (data) {
            for (var i = 0; i < data.sondages.length; i++) {
              $("#sondage-list-remove").append('<h3>'+data.sondages[i].name+' - <button id="delete-button" uri="'+data.sondages[i].sondage_uri+'" class="btn btn-sm btn-danger" type="button">Supprimer</button></h3>');
            }
          },
          error: function (req, status, err) {
            alert("probleme" + err);
          }
          });
          

          $("#sondage-list-remove").on('click', '#delete-button', function(event) {
            event.preventDefault();
            var uri = $(this).attr("uri");
            var parent = $(this).parent();
            $.ajax({
              url: $(this).attr("uri"),
              type: "DELETE",
              contentType: 'application/json',
              dataType: "json",
              success: function (data) {
                $("#sondages a[href='"+uri+"']").remove();
                parent.remove();
              },
              error: function (req, status, err) {
                //console.log("probleme delete sondage");
              }
            });
          });


        });



  {% endif %}


  </script>
{% endblock %}

