{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='c3.min.css')}}" rel="stylesheet">
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="columns">
      <div class="one-fourth column">
        <nav id="sondages" class="menu sondage-menu">
          <span class="menu-heading">Les sondages</span>
        </nav>
      </div>
      <div class="three-fourths column">
        <h1 id="sondage-title" class="page-title">Statistiques</h1>
        <p id="sondage-description" class="lead">Sondage express vacances 2</p>
        <div id="stat-chart">
          <!-- <h3 class="question-title">La questions</h3>
          <div id="chart1"></div>
          <h3 class="question-title">La question 2</h3>
          <div id="chart2"></div> -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
  $(function() {
    // Chargement des sondages dans sondage-menu
      $.ajax({
        url: "{{ url_for('api.get_sondages' ) }}",
        type: "GET",
        dataType: "json",
        success: function (data) {
          for (var i = 0; i < data.sondages.length; i++) {
            $("#sondages")
              .append($("<a>")
                .attr({'href':""+data.sondages[i].sondage_uri,
                  class:"menu-item sondage-link"})
                .text(data.sondages[i].name));
          }
        },
        error: function (req, status, err) {
          alert("probleme" + err);
        }
      });

      $("#sondages").on('click', '.sondage-link', function(event) {
        event.preventDefault();
        $("#stat-chart").empty();
        $(".menu-item.selected").attr('class',"menu-item sondage-link");
        $(this).attr('class',"menu-item selected sondage-link");
        $.ajax({
          url: $(this).attr('href'),
          type: "GET",
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          success: function (data) {
            $("#sondage-description").text(data.sondage.name);
            for (var i = 0; i < data.sondage.questions.length; i++) {
              var id = data.sondage.questions[i].uri.split("/");
              id = id[id.length-1];
              console.log(id);
              var firstalt = data.sondage.questions[i].firstAlternative;
              var secondalt = data.sondage.questions[i].secondAlternative;
              $("#stat-chart").append('<h3 class="question-title">' + data.sondage.questions[i].title + '</h3>')
              $("#stat-chart").append('<div id="chart' + id + '"></div>');
              $.ajax({
                url: "/api/v1.0/answers/"+id,
                type: "GET",
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                  var total = 0;
                  var trueans = 0;
                  for (var i = 0; i < data.answers.length; i++) {
                    total++;
                    trueans += data.answers[i].answer == "true" ? 1 : 0;
                  }
                  console.log(total);
                  console.log("#chart"+id);
                  c3.generate({
                    bindto: "#chart"+id,
                    data: {
                      columns: [
                        [firstalt, trueans],
                        [secondalt, total-trueans]
                      ],
                      type: 'pie'
                    }
                  });
                },
                error: function () {

                }
              });
              // .parent().append('<div id="' + i + '"></div>');

            }
          },
          error: function (req, status, err) {
          }
          });
      });

      var chart = c3.generate({
        bindto: "#chart1",
        data: {
          columns: [
            ['Vous faites du Java', 30],
            ['Vous faites du Python', 90]
          ],
          type: 'pie'
        }
      });

      var chart2 = c3.generate({
        bindto: "#chart2",
        data: {
          columns: [
            ['Vous faites du Java', 30],
            ['Vous faites du Python', 90]
          ],
          type: 'pie'
        }
      });
  });
  </script>
{% endblock %}