body {
  font-size: 1rem;
}

header {
  background-color: #1959b7;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

header a {
  color: rgba(255, 255, 255, 0.5);
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

.header-title {
  float: left;
  font-size: 1.5rem;
  color: #fff;
}

header nav {
  float: right;
  margin-top: .4rem;
  font-size: 1rem;
}

header nav a:not(:last-child) {
  margin-right: 1.25rem;
}

header .btn-reverse-header,
header .btn-group {
  float: right;
  margin-left: 1.5rem;
}
header .btn-group .btn-reverse-header {
  margin-left: 0;
}

.btn-reverse-header {
  font-weight: normal;
  font-size: 1rem;
  color: #fff;
  background: none;
  border: 1px solid #fff;
}

.btn-reverse {
    color: #fff;
    background: none;
    border: 1px solid #fff
}

.btn-reverse:hover, .btn-reverse:active,
.btn-reverse-header:hover, .btn-reverse-header:active {
    color: #4183c4;
    background: #fff;
    border-color: #fff;
    box-shadow: none
}

.join {
  background-color: #1959b7;
  color: #fff;
  margin-top: -2rem;
  margin-bottom: 3rem;
  padding-top: 6rem;
  padding-bottom: 8rem;
  font-size: 1.5rem;
}

.join h1 {
  font-size: 2.5em;
  font-weight: normal;
}

.join .btn {
  padding: .75em 1.15em;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
}

.about p {
    padding-right: .5rem;
    color: #555;
    line-height: 1.5;
}

.about h2 {
    font-weight: normal
}

.about .state {
  font-weight: normal;
  vertical-align: 10%;
  font-size: 1rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    line-height: 1.75;
    color: #7a7a7a;
    border-top: 1px solid #eee;
}

.sondage-menu,
.admin-menu {
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  font-size: 14px;
}

.admin-menu .counter {
  margin-top: 2px;
}

.page-title {
  margin-top: 0;
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.question-title {
  font-size: 1.5em;
  line-height: 1.43;
}

.admin-subtitle {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.sondage-form label {
  font-weight: normal;
  display: block;
  margin-bottom: 1rem;
}

.sondage-form input[type="checkbox"], 
.sondage-form input[type="radio"] {
  margin-right: .5rem;
}

.admin-form label,
.auth-form label {
  display: block;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.admin-form .form-checkbox label {
  margin-bottom: 0;
}

.admin-form textarea {
  max-width: 100%;
  height: 100px;
  max-height: 150px;
}

.auth-form .btn {
  margin-top: 1.5rem;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
  width: 400px;
}

.flash.flash-logwarn {
  color: #911;
  background-color: #fcdede;
  border-color: #9F5859;
  width: 400px;
}